@forward '../base/helper';


$font: var(--font);
$paleviolet: var(--Pale-Violet);
$modviolet: var(--Moderate-Violet);
$desaturated-drk-violet: var(--Desaturated-Dark-Violet);
$grayish-blue:var(--Grayish-Blue); 
$Very-Dark-Desaturated-Violet: var(--Very-Dark-Desaturated-Violet);
$Dark-Grayish-Violet :var(--Dark-Grayish-Violet); 
$Light-Magenta :var(--Light-Magenta);
$Light-violet :var(--Light-Violet);
$white :var(--White);
$light-Grayish-Violet :var(--Light-Grayish-Violet);
$Very-Dark-Desaturated-Violet :var(--Very-Dark-Desaturated-Violet);
$Very-Light-Magenta :var(--Very-Light-Magenta);
