@use '../abstracts/' as *;

.main {
    display: grid;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    position: relative;

    @include responsive(large) {
        height: 100vh;
    }

    &__container-left {
        display: flex;
        padding-top: 5rem;
        justify-content: center;
        z-index: 1;

        @include responsive(large) {
            position: relative;
            height: 100%;
            width: 100%;
            align-items: center;
            padding: 0 0rem;
        }
    }

    &__container-right {
        @include responsive(large) {
            position: relative;
            height: 100%;
            padding: 0 4rem;
        }
    }

    &__oval1 {
        @include position(absolute, -65%, -50%, null, null, 100%, 1200px);
        background: linear-gradient(to bottom, $Light-Magenta, $Light-violet);
        border-radius: 300px;
        z-index: -1;

        @include responsive(large) {
            left: -35%;
            top: -5rem;
            width: 100%;
            height: 95%;
            border-top-left-radius: 50%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        @include responsive(medium) {
            left: 0;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 40%;
        }
    }

    &__oval2 {
        @include responsive(large) {
            right: -40%;
            background-color: $light-Grayish-Violet;
            bottom: -4rem;
            position: absolute;
            width: 75%;
            height: 95%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 0%;
            border-bottom-right-radius: 50%;
            z-index: -1;
        }
    }

    &__text{
        @include flex(flex, column, center, center, null, null);
        text-align: center;
        padding: 4rem 0 5rem 0;

        @include responsive(large) {
            height: 100%;
            text-align: inherit;
            align-items: flex-start;
        }
    }
}

.phone {
    width: 270px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow:1px 1px 20px 20px rgba(0, 0, 0, 0.1);

    @include responsive(medium) {
        margin-top: 3rem;
       
    }

    @include responsive(large) {
        width: 270px;
        height:auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
        margin-left: 12rem;
    }
    
    &__content {
        @include flex(flex, column, space-evenly, null, null, 96%);
        width: 100%;
        padding: 0.5rem;
        z-index: 100;
        border-radius: 30px;
        position: relative;
    }

    &__content-top {
        background: linear-gradient(to left, $Light-Magenta, $Light-violet);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        width: 100%;
    }

    &__content-oval {
        width: 50%;
        background-color: white;
        height: 30px;
        position: absolute;
        left: 25%;
        top: -0.7rem;
        border-radius: 30px;

        @include responsive(large) {
            top: 0;
        }
    }

    &__user {
        @include flex(flex, row, space-between, center, null, 100%);
        padding: 2rem 0.5rem 1rem 1rem;
    }

    &__user-left {
        @include flex(flex, row, flex-start, center, null, null);
        width: 70%;
        margin-left: -0.5rem;
    }

   &__avatar {
       width: 30px;
       height: 30px;
       border-radius: 50%;
       border: 1px solid $white;
   }

   &__content-center {
       @include flex(flex, column, space-evenly, null, null, null);
       background-color: $light-Grayish-Violet;
       height: 100%;
       padding: 0.5rem;
       border-radius: 0 0 30px 30px;
   }

   &__center-top {
    @include flex(flex, column, null, null, null, null);
    width: 80%;
    gap: 0.5rem;
    margin-bottom: 1rem;
   }

   &__center-center {
    text-align: right;
    @include flex(flex, column, null, flex-end, null, null);
    width: 100%;
    gap: 0.5rem;
   }

   &__chat3 {
    @include animateMoveUpOrDown(b, null, 6s, null, null);
    width: 100%;
    @include flex(flex, row,flex-end, null, null, null);
    gap: 1rem;
    flex-wrap: wrap;
   }

   &__chat3-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
   }

   &__center-bot {
    @include flex(flex, column, null, null, null, null);
    width: 80%;
    gap: 0.5rem;
    margin-bottom: 1rem;
   }

   &__chat-price {
    @include flex(flex, row, space-between, center, null, null);
    @include animateMoveUpOrDown(b, null, 10s, null, null);
    width: 90%;
    font-size: 0.5em;
    background: linear-gradient(to right, $Light-Magenta, $Light-violet);
    padding: 0.5rem 1rem;
    border-radius: 15px 15px 15px 5px;
   }

   &__price-left {
    @include flex(flex, null, null, center, null, null);
    width: 90%;
    gap: 0.4rem;
   }

   &__chat-form {
    @include flex(flex, row, space-between, center, null, null);
    background-color: white;
    height: 50px;
    padding-left: 1rem;
    padding-right: 0.2rem;
    border-radius: 30px;

    @include responsive(large) {
        height: 40px;
    }
   }
}

.my-account {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 1rem;

    @include responsive(small) {
        margin-top: 1rem;
        flex-direction: row;
        bottom: 1rem;
        right: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    @include responsive(medium) {
        margin-top: 1rem;
        flex-direction: row;
        bottom: 1rem;
        right: 0;
        align-items: center;
        width: 100%;
        justify-content: center;

    }

    .bxl-github {
        font-size: 2.1rem;
        color: hsl(270, 20%, 50%);
        border-radius: 50%;
        filter: saturate(0%);
        transform: scale(1);
        transition: .5s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
        }
    }

    .frontmentor {
        border-radius: 50%;
        filter: grayscale(100%);
        transition: .5s;

        &:hover {
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
        }
    }
}
